*{
    box-sizing: border-box;
}

body {
    background-color:#1F2227;
    font-family: 'Work Sans', sans-serif;
    min-width: 250px;
}

header {
    color: white;
    padding: 0.5rem;
    border-bottom: 1px solid #07EBE5;
    display: flex;
    flex-wrap: wrap;
    background-color: none;
    justify-content:space-between;
    text-align: center;
    align-items: center;
}

body > section {
    padding: 0.8rem;
}

#title {
    background-color: #1F2227;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.8rem;
}

h1 {
    font-size: 2rem;
    color:#FFFFFF;
}

h2 {
    font-size: 1.7rem;
    color:#FFFFFF;
}

h3 {
    font-size: 1.3rem;
    color:#FFFFFF;
}

body form {
    font-size: 1rem;
    color:#FFFFFF;
}

body p {
    font-size: 1rem;
    color:#FFFFFF;
}

.post p, .movie p {
    font-size: 1rem;
    color: #1f2227;;
}

/*------------------- Site-Branding------------------- */
.site-branding {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 0.5rem;
}

.brand-logo {
    width: max-content;
    margin: 0 0.5rem 0 0;
}

.brand-logo img {
    width: 150px;
}


/*------------------- Menu ----------------- */

.menu-simple-menu {
    padding: 1px;
    padding-top: 10px;
    color:#1F2227;
    text-align: center;
    flex: 1 1 50%
}

.menu-simple-menu ul {
    list-style: none;
    margin: 0;
    display: inline-flex;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

.menu-simple-menu li {
    flex: 1 1 auto;
}

.menu-simple-menu li a {
    display: block;
    padding: .9em 2em;
    color:#FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #07EBE5;
    width: 100%;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}


.menu-simple-menu li span {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/*------------------ Menu Animation ------------------ */
.menu-simple-menu li a::after {
    content:"";
    width: 1px;
    height: 1px;
    z-index: 1;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 1s ease-in-out all;
    color: #1F2227;
    font-weight: bold;
    border-radius: 100px;
    transform-origin: center;
}

.menu-simple-menu a:hover::after {
    background-color: white;
    transform: scale(1000);
}

.menu-simple-menu a:hover{
    color:#1F2227;
    font-weight: bold;
    transition: 0.5s ease-in-out all;
}


/*--------------- Main Page --------------------------------------- */
.main-grid {
    display: grid;
    grid-template: auto / 1fr 0.3fr;
    grid-gap: 20px;
    grid-template-areas:"section aside";
    padding: 0.3rem;
}

.section-grid {
    display: grid;
    /* grid-template: auto auto auto 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr / 1fr 1fr; */
    grid-template: auto / 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:"title1 title1"
                        "premieres premieres"
                        "title2 title2"                   
                        "img1 new1 "
                        "img2 new2 "
                        "img3 new3"
                        "img4 new4"
                        "img5 new5";
}


.title-premieres {
    grid-area: title1;
    background-color: #1F2227;
    margin: 0 1rem;
    padding: 0 1rem 1rem 1rem;
}

.title-news {
    grid-area: title2;
    background-color: #1F2227;
    margin: 0.5rem 1rem 0 1rem;
    padding: 1rem;
}

/*------------------ Carousel -------------------------------------- */
.premieres {
    grid-area: premieres;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color:#2dbeb3;
    border: 2px solid black ;
    padding: 0.5rem;
    padding-left: 0.5rem;
    margin:0;
    text-align: center;
}


.premiere {
    flex: 1 0 auto;
    background-color:#00a6ae ;
    border-radius: 40px;
    border: 2px solid black ;
    margin: 0.5rem 1rem;
    width: 50%;
    min-width: 100px;
    max-width: 250px;
}

/*--------------- Carousel Arrows ------------------ */

.scroll-test {
    position: absolute;
    width: 72%;
    align-self: center;
}

.scroll-arrows {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1rem 0 0;
    z-index: 1;
  }

  .left-arrow, .right-arrow {
    width: auto;
    height: auto;
    z-index: 2;
  }

  .left-arrow i, .right-arrow i {
    color: #FFFFFF; 
    font-size: 50px;
    cursor: pointer;
  }

.premiere-img {
    width: 100%;
    height: 80%;
    border-radius: 40px;
    margin: 0;
    padding: 1rem 0.5rem 0;
}

.premiere-title {
    margin: 0;
    padding: 0.2rem 0.5rem;
    font-size: 3vw;
}


/*---------------- Main Grid articles ------------------*/
.img1,.img2,.img3,.img4,.img5 {
    display: flex;
    background-color: bisque;
    border: 2px solid #000000 ;
    padding: 0.5rem;
    margin:0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#new1,#new2,#new3,#new4,#new5 {
    background-color:#2dbeb3;
    border: 2px solid black ;
    padding: 0.5rem;
    margin:0;
    text-align: center;
}

.img1 {
    grid-area: img1;
}

#new1 {
    grid-area: new1;
}

.img2 {
    grid-area: img2;
}

#new2 {
    grid-area: new2;
}

.img3 {
    grid-area: img3;
}

#new3 {
    grid-area: new3;
}

.img4 {
    grid-area: img4;
}

#new4 {
    grid-area: new4;
}

.img5 {
    grid-area: img5;
}

#new5 {
    grid-area: new5;
}

.section-grid article > img {
    padding:0.3rem;
    margin: 0;
    width: 95%;
} 

.main-grid >section {
    margin: 1rem 1rem 1rem 1rem;
}

.section-grid p {
    font-size: 1rem;
}

.post {
    background-color: bisque;
    border: 2px solid black ;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

/*------------------- Read More Button for Main Grid News ----------------- */
.readMoreNews {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.3rem;
    margin: 0;
    background-color: #1F2227;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    min-width: fit-content;
    cursor: pointer;

}

.readMoreNews:hover {
    background-color: transparent;
    border: 2px solid #1F2227;
    color: #1F2227;
    font-weight: bold;
    min-width: fit-content;
}

/*---------------- Hidden Paragraphs --------------------- */
.new p:nth-child(3), .new p:nth-child(4) {
    display: none;
}

/*------------- Show Paragraphs ---------------------- */
.new.open > p {
    display: block;
}

/* See More News Button */
/* .moreNews {
    background-color: bisque;
    text-align: center;
} */


/*--------------- Aside ------------------------ */
aside {
    background-color:#00a6ae;
    padding:1rem;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.2vw;
}

aside h2 {
    font-size: 1.8vw;
}

.categories li a {
    display: block;
    padding: .9em 2em;
    color:#FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: none;
    width: 100%;
    font-weight: 400;
    /* transition: 0.3s ease-in-out all; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.categories li span {
    position: relative;
    overflow: hidden;
    z-index: 2;
    /* transition: 0.3s ease-in-out all */
}

/*-------------------- Aside Menu Animation --------------- */
.categories li a::after {
    content:"";
    width: 1px;
    height: 1px;
    z-index: 1;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 1s ease-in-out all;
    color: #1F2227;
    font-weight: bold;
    border-radius: 100px;
    transform-origin: center;
}

.categories a:hover::after {
    background-color: white;
    transform: scale(400);
}

.categories a:hover{
    color: #1F2227;
    font-weight: bold;
    transition: 0.5s ease-in-out all;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories {
    /* flex: 1 1 auto; */
    padding: 1em;
    border-radius: 10%;
    border-color: #1F2227;
    background-color: #1F2227;
    position: sticky;
    top: 0;
    text-align: center;
}

/*----------------- Media Queries Main ----------------------------------- */
@media screen and (max-width:992px) {  
    .main-grid {
        display: grid;
        grid-template: 1fr / 1fr 0.2fr;
        grid-gap: 20px;
        grid-template-areas:"section aside";
    }
    
   
    .section-grid {
        display: grid;
        /* grid-template: auto auto auto auto 0.6fr auto 0.6fr auto 0.6fr auto 0.6fr auto 0.6fr / 1fr; */
        grid-template: auto / 1fr;
        grid-gap: 10px;
        grid-template-areas:"title1"
                            "premieres"
                            "title2"                   
                            "img1" 
                            "new1"
                            "img2"
                            "new2"
                            "img3" 
                            "new3"
                            "img4" 
                            "new4"
                            "img5" 
                            "new5";
    }

    .scroll-test {
        display: none;
    }

    .premieres {
        overflow-x: scroll;
    }

}

@media screen and (max-width:768px) {
    .main-grid {
        display: grid;
        grid-template: auto / 1fr;
        grid-gap: 20px;
        grid-template-areas:"section"
                            "aside";
    }

    aside {
        margin: 1rem;
        font-size: 1rem;
    }

    aside h2 {
        font-size: 2rem;
    }  
}

@media screen and (max-width:481px) {
    .site-branding {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
}

@media screen and (min-width:1032px) {
    .section-grid p {
        font-size: 1.2vw;
    }

    .section-grid article h3 {
        font-size: 1.7vw;
    }

    .section-grid .premiere-title {
        font-size: 1.4vw;
    }

    .readMoreNews {
        font-size: 1.4vw;
    }
}

@media screen and (min-width:768px) {
    .premiere-title {
        font-size: 2.2vw;
    }
}


/*------------------- Footer ---------------------------------- */

footer nav {
    background-color: black;
    
}

footer nav li{
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: inline-block;
    justify-content: center;
}

footer nav li a {
    color: white;
}

/* ----------------- About Page ------------------------- */
.developers-profile {
    background-color: bisque;
    padding: 1.4rem 1.4rem 2.8rem;
    margin: 0 0 2.5rem;
    text-align: center;
}

.dev-picture {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black ;
    margin: 1rem 0;
    width: 170px;
    height: 170px;
    min-width: 150px;
    position: relative;
    overflow: hidden;
    text-align: start;
}

.dev-picture img {
    width: 230px;
    position:absolute;
    left: -19%;
    top: -13%;
}

.dev-info {
    background-color: #00a6ae;
    padding: 0.6rem;
    border-radius: 40px;
    border: 2px solid black ;
    width: 100%;
}

.dev-info p {
    color: #FFFFFF;
    font-size:1.2rem;
}

.video-academy {
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    height: 30vw;
    min-height: 200px;
}

.video-academy iframe {
    width: 80%;
    height: 80%;
}

.branches-location, .developers {
    margin: 0;
    padding: 0.5em;
    min-width:min-content;
}

.section-about h1 {
    margin:0 0 1rem;
}

.branch {
    background-color: #2dbeb3;
    margin-bottom: 1em;
    padding: 0 1.2em 1.2em 1.2em;
    width: 100%;
}


.map-title {
    padding: 0em;
    margin: 0;
}

.branches-location .branches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.map iframe {
    width: 100%;
}

/*------------- Media Queries About Page ------------------*/
@media screen and (min-width:768px) {
    .branch {
        flex-basis: calc(49%);
        margin-bottom: 1em;
    }

    .developers-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.8rem;
    }
    
    .dev-picture {
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    .dev-picture img {
        left: -28%;
    }
    .dev-info {
        flex-basis: 50%;
    }
}


@media screen and (min-width:992px) {
    .branch {
        flex-basis: calc(33%);
    }

    .dev-info p {
        font-size:1.2vw;
    }

    .dev-info h2 {
        font-size: 1.6vw;
    }
}

/*------------------- Reviews Page --------------------------- */

.scroll-title {
    position: sticky;
    top: 0;
    padding: 0.6rem;
    margin: 0;
    background-color: #00a6ae;
    border: 3px solid black;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}


#action, #comedy, #drama, #suspense {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.6rem;
    background-color:#1F2227;
    border-width: 2px;
    border-color:#1F2227;
    border-style:dashed;
    font-weight: 900;
}

.movie {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: bisque;
    border: 2px solid black ;
    padding-left: 1rem;
    margin: 1rem;
}

.movies {
    padding: 0em;
    margin-top: 0.1em;
    text-align: center;
}

.picture {
    background-color: #00a6ae;
    padding: 1em;
    margin: 1.2em;
    justify-content: center;
}

.picture img {
    margin: auto;
    padding: 0;
    width: 50%;
    height: 50%;
    max-width: 400px;
}

.description {
    background-color: #00a6ae;
    padding: 1.5em;
    margin: 1.2em;
    text-align: center;
    max-height: 30vw;
    overflow: hidden;
}

.description p {
    color:#FFFFFF;
}

/*-------- Visible Status Read More and Read Less Reviews Buttons ------------------*/
.description.open {
    max-height: 100%;
    overflow: visible;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex: 1 1 auto;
}

.btn-trailer, .readMore {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.3rem;
    margin: 0;
    background-color: #1F2227;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    min-width: fit-content;
    cursor: pointer;

}

.btn-trailer:hover, .readMore:hover {
    background-color: transparent;
    border: 2px solid #1F2227;
    color: #1F2227;
    font-weight: bold;
    min-width: fit-content;
}

.readMore {
    margin-bottom: 0.7rem;
    width: 20%;
    
}

.btn-trailer {
    width: 100%;
    
}


/*----------------- Media Queries Reviews Page ---------------*/

@media screen and (min-width:768px) {
    .movie {
        display: inline-flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        justify-content: center;
    } 
    
    .picture {
        /* display: flex;
        flex-wrap: wrap; */
        flex-basis: calc(50%);
        align-items: center;
    }

    .description {
        display: flex;
        flex-basis: calc(50%);
        align-items: center;
        max-height: 100%;
        overflow:visible;
    } 
 
    .picture img {
        margin: 0;
        padding: 0;
        object-fit: contain;
        width: 90%;
        height: 90%;
    }
    
    .readMore {
        display: none;
    }

    .btn-trailer, .readMore {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 992px) {
    .description > p {
        /* font-size: 1.2em; */
        font-size: 1.4vw;
    }

    .description {
        padding: 2.5em;
    }
}

@media screen and (max-width:500px) {
    #action, #comedy, #drama, #suspense, .scroll-title {
        font-size: /* 0.8rem */6vw;
        /* min-width: 286px; */
    }
}



/*-------------------- Contact Page --------------------------*/

body form {
    margin: 0.2em;
}


.newsletter-fieldset {
    padding: 1em;
    background-color: #00a6ae;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-fieldset fieldset {
    border-style: groove;
    border-color: #FFFFFF;
    min-width: 100%;
    margin: 0;
}

#firstname, #lastname, #dni, #birthday, #emailAdress {
    min-width: 100%;
}

.comments {
    padding: 1em 1.6em;
    background-color: #00a6ae;
    width: 100%;
}

.comments-fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.textarea-comments {
    min-width:100%; 
}

